{% include base_path %}

<!-- start custom head snippets -->

<link rel="shortcut icon" href="{{ base_path }}/images/favicon.ico">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg" color="#6A4FA0">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<meta name="msapplication-TileColor" content="#6A4FA0">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/mstile-144x144.png">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml">

<!-- end custom head snippets -->
