{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<article class="post-item" itemscope itemtype="http://schema.org/CreativeWork">
  <h2 class="post-item__title" itemprop="headline">
    {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    {% endif %}
  </h2>

  {% capture item_meta %}
    {%- if post.collection == 'teaching' -%}
      {{ post.type }} · {{ post.venue }} · {{ post.date | default: "1900-01-01" | date: "%Y" }}
    {%- elsif post.collection == 'publications' -%}
      Published in {{ post.venue }} · {{ post.date | default: "1900-01-01" | date: "%Y" }}
    {%- elsif post.date -%}
      <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time>
    {%- endif -%}
    {%- if post.read_time %} · {% include read-time.html %}{% endif -%}
  {% endcapture %}
  {% assign item_meta = item_meta | strip %}
  {% if item_meta != "" %}<p class="post-item__meta">{{ item_meta }}</p>{% endif %}

  {% if post.excerpt %}
    <div class="post-item__excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>
  {% endif %}

  {% if post.citation and post.paperurl %}
    <p class="post-item__excerpt">Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}">{{ post.paperurl }}</a></p>
  {% elsif post.citation %}
    <p class="post-item__excerpt">Recommended citation: {{ post.citation }}</p>
  {% elsif post.paperurl %}
    <p class="post-item__excerpt">Download <a href="{{ post.paperurl }}">here</a></p>
  {% endif %}
</article>
