{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<aside class="profile" itemscope itemtype="http://schema.org/Person">
  {% if author.avatar %}
    <div class="profile__avatar">
      {% if author.avatar contains "://" %}
        <img src="{{ author.avatar }}" alt="{{ author.name }}">
      {% else %}
        <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" alt="{{ author.name }}">
      {% endif %}
    </div>
  {% endif %}

  <div class="profile__content">
    <h2 class="profile__name" itemprop="name">{{ author.name }}{% if author.pronouns %} <span style="color:var(--faint);font-size:14px">({{ author.pronouns }})</span>{% endif %}</h2>
    {% if author.bio %}<p class="profile__bio">{{ author.bio }}</p>{% endif %}

    <ul class="profile__facts">
      {% if author.employer %}<li>{{ author.employer }}</li>{% endif %}
      {% if author.location %}<li>{{ author.location }}</li>{% endif %}
      {% if author.email %}<li><a href="mailto:{{ author.email }}">{{ author.email }}</a></li>{% endif %}
      {% if author.uri %}<li><a href="{{ author.uri }}">Website</a></li>{% endif %}
      {% if author.github %}<li><a href="https://github.com/{{ author.github }}">GitHub</a></li>{% endif %}
      {% if author.googlescholar %}<li><a href="{{ author.googlescholar }}">Google Scholar</a></li>{% endif %}
      {% if author.orcid %}<li><a href="{{ author.orcid }}">ORCID</a></li>{% endif %}
      {% if author.arxiv %}<li><a href="{{ author.arxiv }}">arXiv</a></li>{% endif %}
      {% if author.linkedin %}<li><a href="https://www.linkedin.com/in/{{ author.linkedin }}">LinkedIn</a></li>{% endif %}
      {% if author.twitter %}<li><a href="https://twitter.com/{{ author.twitter }}">X</a></li>{% endif %}
      {% if author.mastodon %}<li><a href="{{ author.mastodon }}">Mastodon</a></li>{% endif %}
      {% if author.bluesky %}<li><a href="https://bsky.app/profile/{{ author.bluesky }}">Bluesky</a></li>{% endif %}
      {% if author.zhihu %}<li><a href="{{ author.zhihu }}">Zhihu</a></li>{% endif %}
      {% if author.youtube %}<li><a href="https://www.youtube.com/user/{{ author.youtube }}">YouTube</a></li>{% endif %}
    </ul>
  </div>
</aside>
