{% include base_path %}

{% if page.author_profile or layout.author_profile %}
  {% include author-profile.html %}
{% endif %}

{% if page.sidebar %}
  <aside class="profile">
    <div class="profile__content">
      {% for s in page.sidebar %}
        {% if s.image %}
          <img src="{% if s.image contains "://" %}{{ s.image }}{% else %}{{ s.image | prepend: "/images/" | prepend: base_path }}{% endif %}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}" style="max-width:100%;border-radius:8px">
        {% endif %}
        {% if s.title %}<h2 class="profile__name">{{ s.title }}</h2>{% endif %}
        {% if s.text %}<div class="profile__bio">{{ s.text | markdownify }}</div>{% endif %}
      {% endfor %}
      {% if page.sidebar.nav %}
        {% include nav_list nav=page.sidebar.nav %}
      {% endif %}
    </div>
  </aside>
{% endif %}
