---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}">

<head>
  {% include head.html %}
  {% include head/custom.html %}
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']],
        processEscapes: true,
        processEnvironments: true
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        ignoreHtmlClass: 'tex2jax_ignore',
        processHtmlClass: 'tex2jax_process'
      },
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>

  {% include masthead.html %}

  <main class="site-main" role="main">
    {{ content }}
  </main>

  <footer class="site-foot">
    <div class="col">
      {% include footer/custom.html %}
      {% include footer.html %}
    </div>
  </footer>

  {% include scripts.html %}

</body>

</html>
